option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-XXX-Y:XXXXXXXX:certificate/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXX
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Staging
    AURORA_SERVER: Staging.Aurora.Server.Here
  aws:elasticbeanstalk:cloudwatch:logs:
    DeleteOnTerminate: true
    RetentionInDays: 7
  aws:autoscaling:asg:
    MaxSize: 1
    MinSize: 1
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.small
    SecurityGroups: sg-security-group-with-access-to-rds-aurora-here
