@model act.core.web.Models.Report.AssignedNodesReportScreen
@{
    ViewBag.Title = "Assigned Nodes";
}
@section scripts{
    @Url.ViewJavascript("AllReportScreens")
}
<h1>Assigned Nodes</h1>
<div class="on-visible" data-visibility-action="loadReport" data-url="@Url.PartialAssignedNodes()">

</div>