option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
    EnvironmentType: LoadBalanced
  aws:elbv2:listener:443:
    ListenerEnabled: true
    SSLPolicy: ELBSecurityPolicy-TLS-1-2-2017-01
    DefaultProcess: https
    Protocol: HTTPS
    Rules: ''
  aws:elasticbeanstalk:environment:process:default:
    MatcherHTTPCode: '301'
    HealthCheckPath: /
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
    MatcherHTTPCode: '200'
    HealthCheckPath: /Health
