option_settings:
  aws:elbv2:listener:443:
    SSLCertificateArns: arn:aws:acm:us-XXX-Y:XXXXXXXX:certificate/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXX
  aws:elasticbeanstalk:application:environment:
    ASPNETCORE_ENVIRONMENT: Production
    AURORA_SERVER: Production.Aurora.Server.Here
  aws:elasticbeanstalk:cloudwatch:logs:
    DeleteOnTerminate: false
    RetentionInDays: 731
  aws:autoscaling:asg:
    MaxSize: 9
    MinSize: 3
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.medium
    SecurityGroups: sg-security-group-with-access-to-rds-aurora-here
