@model act.core.web.Models.AppSpecs.AppSpecSearchResults

@if (Model.Empty)
{
    <div data-empty="true"></div>
}
else
{
    <div data-count="@Model.Count" class="list-group">
    @{
        Model.ForEach(async p => await Html.RenderPartialAsync("AppSpecSearchResultPartial", p));
    }
    </div>
}